#h1ann {
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    background: black;
}

#foto_Ann {
    display: inline-block;
    position: absolute;
}

#foto_Ann img {
    width: 200px;
    height: 200px;
    position: absolute;
    
    
}

#contenedorAnn {
    float:left;
}

#vidaAnn {
    font-family: 'Raleway', sans-serif;
    float:left;
    width: 500px;
    margin-left: 300px;
}

#hobbiesAnn {
    clear: both;
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    background: black;
}
