.texto{
  position:absolute;
  font-family: "Lucida Handwriting", "Century Gothic";
  top: 50px;
  left: 350px;
  width: 600px;
  height: 600px;
  background-color: #fff;

}
.titulo{
  text-align: center;
}
img{
  float: right;
}

#fondo{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/80/84/d9/8084d928386e611b4078d7d4dcaf8845.jpg);
}
