#paginaD, #pagDiana {
    margin: 0;
    padding: 0;
    height: 100%;
}

#miFotito {
    width: 45%;
    height: 100%;
    background-image: url(mifotito.JPG);
    background-size: cover;
}

#miFotito, #miNombre, #sobreDiana, #miNombre+h2 {
    display: inline-block;
    position: absolute;
}

#miNombre {
    font-family: 'Vidaloka', serif;
    font-size: 31px;
    letter-spacing: 4.3px;
    margin-left: 55%;
    margin-top: 100px;
}

#miNombre+h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 55%;
    margin-top: 140px;
    
}

#sobreDiana {
    margin-top: 150px;
    width: 35%;
    margin-left: 55%;
}

#sobreDiana>h4 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    margin: 50px 0 10px;
    text-transform: uppercase;
    
}

#sobreDiana>p {
    font-family: 'Roboto Slab', serif;
    color: #848484;
    font-size: 14px;
}

#sobreDiana>div>img {
    width: 9%;
    margin: 1%;
}