#bodyRena{
   background-image: url(imgRena/1010889_10203755245185736_1593986127453540325_n.jpg);
   background-size: cover;
}
.renaFoto{
   width: 35%;
   float: left;
   margin: 10px;
}
.renaFoto img{
   width: 100%;
   border-radius: 50%;
}
#renaH1{
   text-align: center;
}
.hobbieRena{
   width: 27%;
   display: inline-block;
   margin: 25px;
}
.renaH2, #renaH1{
  display: inline-block; 
}
.bioRena, .renaH2, #renaH1{
   color: #fff0fb;
   background-color: rgba(255, 0, 226, 0.22);
}
.hobbieRena img{
   width: 100%;
   border: 10px white solid;
   border-bottom: 50px solid white;
}
.hobbieRena img:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}
/* Inclina todas las imagenes 2 grados*/
.hobbieRena img{
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
}
 
/* Gira todas las imagenes pares */
.hobbieRena:nth-child(even) img{
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
}
 
/* Evita que gire cada tercer imagen, compensa su posicion */
.hobbieRena:nth-child(3n) img {
-webkit-transform: none;
-moz-transform: none;
position: relative;
top: -5px;
}
 
/* Gira cada quinta imagen 5 grados */
.hobbieRena img:nth-child(5n) img{
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
position: relative;
right: 5px;
}
 